@import '~ngx-toastr/toastr'; 
// @import '~ngx-toastr/toastr-bs4-alert'; 
// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';
// @import '~ngx-toastr/toastr-bs4-alert';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
//@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
//@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$ecommercePontoVirgula-primary: mat-palette($mat-indigo);
//$ecommercePontoVirgula-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
//$ecommercePontoVirgula-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $ecommercePontoVirgula-theme: mat-light-theme((
//   color: (
//     primary: $ecommercePontoVirgula-primary,
//     accent: $ecommercePontoVirgula-accent,
//     warn: $ecommercePontoVirgula-warn,
//   )
// ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($ecommercePontoVirgula-theme);

//@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');

$azul-cinzento: #497285;
$cinza-escuro: #2b4450;
$laranja: #f78536;
$cinza-claro: #dfebed;

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat';
}

button {
  font-family: 'Montserrat';
}

textarea[type="text"]{
  white-space: pre-wrap;
}

input[type=text],
input[type=number],
textarea[type=text],
input[type=password],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat';
}

input[type=submit]:hover {
  background-color: #45a049;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
