<app-header></app-header>
<app-cabecalho-menu></app-cabecalho-menu>

<div class="container-geral">


  <div class="container-dashboard">
    <div class="card">
      <div class="title-card">Catálogo de produtos</div>

      <div class="grid-container">
        <div class="card-item" *ngFor="let item of this.ProdutosService.produto; let i = index;">
          <div class="card-item-container">
            <div class="card-title">
              {{item.nome}}
            </div>
            <div class="card-img">
              <img class="img-card" src={{item.linkImg}}>
            </div>
            <div class="container-compra">
              <button class="btn-comprar" (click)="adicionarAoCarrinho(item)">Comprar</button>
              <div class="card-price">
                R${{item.preco.toFixed(2)}}
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
