$cinza-escuro: #2b4450;
$azul-cinzento: #497285;
$laranja: #f78536;
$cinza-claro: #dfebed;

.container-dashboard {
  display: flex;
  justify-self: center;
  justify-content: center;
  padding: 15vh 0 10vh 0;
}

.card {
  background: white;
  border-radius: 40px;
  width: 90%;
  height: 100%;
  padding-bottom: 10vh;
}


.title-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 5vh;
  color: $azul-cinzento;
  margin: 2vh;
  font-weight: 300;

  @media screen and (max-width:480px) and (max-height:850px) {
    font-size: 3.4vh;
    font-weight: 400;
  }

}


hr {
  width: 90%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center; 

  @media screen and (max-width:767px) {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 4vh;
  }

  @media screen and (min-width:768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width:1024px) {
    grid-template-columns: repeat(3, 35%);
  }
  
  @media screen and (min-width:1366px) {
    grid-template-columns: repeat(4, 25%);
  }
}


.card-item {
  background: white;
  box-shadow: 0px 0px 8px 0px #49728585;
  border-radius: 20px;
  width: 15vw;
  height: 50vh;
  margin-top: 5vh;

  @media screen and (max-width:767px){
    width: 270px;
    height: 425px;
  }

  @media screen and (min-width:768px) {
    width: 300px;
    height: 450px;
  }

  @media screen and (min-width:1024px){
    width: 280px;
    height: 410px;
  }  
}

.card-item-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 95%;
}

.card-title {
  display: flex;
  margin: 20px;
  align-self: flex-start;
  color: $cinza-escuro;
  font-weight: 600;
  font-size:15px; 
}

.card-img {
  display: flex;
  align-self: center;
  width: 80%;
  height: 50%;
}

.card-price {
  display: flex;
  align-self: center;
  color: $laranja;
  margin-top: auto;
  font-weight: 700;
  font-size: 24px; 
}

.img-card {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.container-geral { 
  height: 100%
}


.btn-comprar {
  background-color: $laranja;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  color: white;
  padding: 5px 21px;
  font-family: "MontSerrat";
  font-weight: 400;
  margin: 30px;

  &:hover {
    opacity: 80%;
    transition: 0.5s;
  } 

  &:focus {
    border: none;
    outline: none; 
  }
}

.container-compra {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
}
