$cinza-escuro: #2b4450;
$azul-cinzento: #497285;
$laranja: #f78536;
$cinza-claro: #dfebed;

.container-dashboard {
  display: flex;
  justify-self: center;
  justify-content: center;
  padding: 15vh 0 10vh 0;
}

.card {
  background: white;
  border-radius: 40px;
  width: 90%;
  height: 100%;
  padding-bottom: 10vh;
}


.title-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 5vh;
  color: $azul-cinzento;
  margin: 2vh;
  font-weight: 300;

  @media screen and (max-width:480px) and (max-height:850px) {
    font-size: 3.4vh;
    font-weight: 400;
  }
  
}


hr {
  width: 90%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  margin-top: 10vh;

  @media screen and (max-width:480px) and (max-height:850px) {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 4vh; 
  }

  @media screen and (min-width:768px) and (min-height:1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width:1024px) and (min-height:768px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media screen and (min-width:1024px) and (min-height:1366px) {
    grid-template-columns: repeat(3, 1fr);
  }

}


.card-item {
  background: white;
  box-shadow: 0px 0px 8px 0px #49728585;
  border-radius: 20px;
  width: 15vw;
  height: 40vh;
  margin-top: 5vh;

  @media screen and (max-width:480px) and (max-height:850px) {
    width: 80vw;
    height: 55vh;
  }

  @media screen and (min-width:768px) and (min-height:1024px) {
    width: 35vw;
    height: 40vh;
  }

  @media screen and (min-width:1024px) and (min-height:768px) {
    width: 15vw;
    height: 33vh;
  }

  @media screen and (min-width:1024px) and (min-height:1024px) {
    width: 15vw;
    height: 40vh;
  }

  @media screen and (min-width:1024px) and (min-height:1366px) {
    width: 25vw;
    height: 25vh;
  }
}

.card-item-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 95%;
}

.card-title {
  display: flex;
  margin: 3vh;
  align-self: flex-start;
  color: $cinza-escuro;
  font-weight: 600;
  font-size: 1.2vw;

  @media screen and (max-width:480px) and (max-height:850px) {
    font-size: 4.2vw
  }

  @media screen and (min-width:768px) and (min-height:1024px) {
    font-size: 2vw;
  }

  @media screen and (min-width:1024px) and (min-height:768px) {
    font-size: 1.2vw;
  }

  @media screen and (min-width:1024px) and (min-height:1366px) {
    font-size: 2vw;
  }
}

.card-img {
  display: flex;
  align-self: center;
  width: 80%;
  height: 50%;
}

.card-price {
  display: flex;
  align-self: flex-end;
  color: $laranja;
  margin-top: auto;
  margin-right: 1vw;
  font-weight: 700;
  font-size: 1.2vw;

  @media screen and (max-width:480px) and (max-height:850px) {
    font-size: 6.2vw;
    margin-right: 2vh;
  }

  @media screen and (min-width:768px) and (min-height:1024px) {
    font-size: 2.8vw;
  }

  @media screen and (min-width:1024px) and (min-height:768px) {
    font-size: 1.2vw;
  }

  @media screen and (min-width:1024px) and (min-height:1366px) {
    font-size: 1.8vw;
  }
}

.img-card {
  width: 100%;
  height: 100%;
}

.container-geral {
  padding-top: 3vh;
  height: 100%
}
