$azul-cinzento: #497285;
$cinza-escuro: #2b4450;
$laranja: #f78536;
$cinza-claro: #dfebed;

.cabecalho-secundario {
  position: fixed;
  top: 4vh;
  width: 100%;
  z-index: 5000;
  background-color: white;
  align-items: center;
  display: flex;
  height: 10vh;
  border: solid 1px lightgray;
}


.items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

// .user-login {
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
//   flex-direction: row;
//   margin-left: auto;
//   margin-right: 3vw; 
// }


.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-left: 3vw;
}

.container-logo-words {
  display: flex;
  flex-direction: row;
}


.logo1 {
  font-family: 'Press Start 2P';
  font-size: 36px;
  font-weight: 100;
  color: $azul-cinzento;

  @media screen and (max-width: 480px) {
    font-size: 6vw;
  }
}

.logo2 {
  font-family: 'MontSerrat';
  font-size: 30px;
  color: $laranja;
  padding-right: 2%;

  @media screen and (max-width: 480px) {
    font-size: 3vw;
  }
}

.logo3 {
  font-family: 'Press Start 2P';
  font-size: 36px;
  font-weight: 100;
  color: $azul-cinzento;

  @media screen and (max-width: 480px) {
    font-size: 6vw;
  }
}

.logo-sub {
  font-family: 'MontSerrat';
  font-size: 16px;
  color: $laranja;
  font-weight: 700;

  @media screen and (max-width: 480px) {
    font-size: 3.5vw;
  }
}


.dashboard {
  margin-left: 5vw;
  font-size: 30px;
  color: $azul-cinzento;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.cart {
  margin-left: 2vw;
  font-size: 30px;
  color: $azul-cinzento;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.cadastro-produto {
  margin-left: 1.5vw;
  font-size: 30px;
  color: $azul-cinzento;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.count {
  display: flex;
  font-family: "MontSerrat";
  font-size: 12px;
  color: floralwhite;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 15px;
  height: 15px;
  padding: 5px;
  border-radius: 100px;
  background: $laranja;
}

.tag{
  display: flex;
  font-family: "MontSerrat";
  font-size: 12px;
  color: floralwhite;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 10px;
  margin-left: 5px;
  background: #f78536;

  @media screen and (max-width: 480px) {
   display:none;
   margin-top: 0;
  }
}