<div class="cabecalho-secundario" >
  <div class="items-container">
    <div class="logo">
      <div class="container-logo-words">
        <div class="logo1">P</div>
        <div class="logo2">&</div>
        <div class="logo3">V</div>
      </div>
      <div class="logo-sub">Ponto&Vírgula</div>
    </div>
    <div class="dashboard" routerLink="/dashboard">
      <i class="fas fa-home"></i>
    </div>
    <div class="cart" routerLink="/cart">
      <i class="fas fa-shopping-cart"></i> <span class="count">{{CartService.cart.numeroItensSelecionados}}</span>
    </div>
    <div *ngIf="this.LoginService.usuario.Admin === 1" class="cadastro-produto" routerLink="/cadastro-produto">      
      <i class="fas fa-wrench"></i>
      <label class="tag">Painel administrativo</label>
    </div>
  </div>
</div>
