<app-header></app-header>
<app-cabecalho-menu></app-cabecalho-menu>

<div class="container-geral">
  <div class="container-principal">
    <div class="card">
      <div class="title-card">Política de Privacidade</div>
      <div class="grid-container">
        <div class="card-item">
          <div class="card-item-container">
            <div class="card-title">
              SEGURANÇA:
            </div>

            <div class="card-conteudo">
              O site da Pichau Informatica é completamente seguro, além da parceria junto ao Paypal, uma das maiores
              analistas de risco, temos também Certificação Digital SSL onde todas as informações cadastradas em nosso
              sistema, desde dados pessoais, forma de pagamento, e qualquer outra informação fornecida no ato da compra
              e cadastro são criptografadas, ficando em total sigilo, medida fundamental para a confiança e segurança de
              nossos clientes.

              Todas as compras efetuadas via Cartão de Credito estão sujeitas a analise, uma segurança a mais para
              nossos clientes, uma regra para o comercio online, onde fraudes são constatadas diariamente. Todas as
              informações referentes a seu cartão de credito não ficam cadastradas em nosso sistema, sendo assim não há
              qualquer risco que seus dados sejam acessados por pessoas más intencionadas.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
