$cinza-escuro: #2b4450;
$azul-cinzento: #497285;
$laranja: #f78536;
$cinza-claro: #dfebed;

.container-principal {
  display: flex;
  justify-self: center;
  justify-content: center;
  padding: 15vh 0 10vh 0;
}

.card {
  background: white;
  border-radius: 40px;
  width: 90%;
  height: 100%;
  @media screen and (max-width:480px) {
    padding: 25px;
  }

}


.title-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 5vh;
  color: $azul-cinzento;
  margin: 2vh;
  font-weight: 300;

  @media screen and (max-width:480px) and (max-height:850px) {
    font-size: 3.4vh;
    font-weight: 400;
  }

}


hr {
  width: 90%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  justify-items: center;
}


.card-item {
  background: white;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.card-item-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 95%;
}

.card-title {
  display: flex;
  margin: 20px;
  align-self: flex-start;
  color: $cinza-escuro;
  font-weight: 600;
  font-size: 21px;
}

.card-conteudo {
  display: flex;
  margin: 20px;
  align-self: flex-start;
  color: #2b4450;
  font-weight: 400;
  font-size: 18px;
}

.container-geral {
  height: 100%
}


.btn-comprar {
  background-color: $laranja;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  color: white;
  padding: 5px 21px;
  font-family: "MontSerrat";
  font-weight: 400;
  margin: 30px;

  &:hover {
    opacity: 80%;
    transition: 0.5s;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.container-compra {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
}


.form-login {
  display: flex;
  flex-direction: column;
}


.login-label1 {
  color: $azul-cinzento;

}

.login-label2 {
  color: #0bb3e4;
}

.container-sub {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.first-sub {
  font-size: 1.8vw;
  color: #162a43;

  @media screen and (max-width: 480px) {
    font-size: 7.0vw;
  }
}

.second-sub {
  font-size: 1vw;
  color: #919aa9;

  @media screen and (max-width: 480px) {
    font-size: 3.0vw;
  }
}

.button-login {
  background-color: $azul-cinzento;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.button-login:hover {
  background-color: $laranja;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}


.input-login {
  font-size: 12px;
  color: gray;
  line-height: 20px;
  margin-bottom: 4%;

  &:focus {
    outline: none !important;
    border: 1px solid $azul-cinzento;
    box-shadow: 0 0 10px #719ECE;
  }
}

.input-error {
  font-size: 12px;
  color: gray;
  line-height: 20px;
  margin-bottom: 4%;
  outline: none !important;
  border: 1px solid rgba(255, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.425);
}

.copyright {
  color: white;
  font-size: 0.9vw;
  margin-top: 10vh;
}

.container-logo {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.container-logo-words {
  display: flex;
  flex-direction: row;
}


.logo1 {
  font-family: 'Press Start 2P';
  font-size: 3vw;
  font-weight: 100;
  color: $azul-cinzento;

  @media screen and (max-width: 480px) {
    font-size: 10vw;
  }
}

.logo2 {
  font-family: 'MontSerrat';
  font-size: 2.5vw;
  color: $laranja;
  padding-right: 2%;

  @media screen and (max-width: 480px) {
    font-size: 8.5vw;
  }
}

.logo3 {
  font-family: 'Press Start 2P';
  font-size: 3vw;
  font-weight: 100;
  color: $azul-cinzento;

  @media screen and (max-width: 480px) {
    font-size: 10vw;
  }
}

.logo-sub {
  font-family: 'MontSerrat';
  font-size: 1vw;
  color: $laranja;
  font-weight: 700;

  @media screen and (max-width: 480px) {
    font-size: 3.5vw;
  }
}

.link {
  color: $laranja;
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}


.legend-error {
  color: rgba(255, 0, 0, 0.651); 
}

.nome-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.descricao-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.preco-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.estoque-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.img-container {
  margin-bottom: 5%;
}

.container-cadastrado-sucesso-geral {
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin-top: 15%;
}


.container-cadastrado-sucesso {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 35vw;
}

.sucesso {
  color: #58da58;
  font-size: 3vw;
}

.cadastrado-sucesso {
  font-family: "MontSerrat";
  font-size: 1.5vw;
  margin-left: 5%;
}


.legend-sucesso {
  font-family: "MontSerrat";
  font-size: 1vw;
  color: lightgray;
  margin-left: 5%;
}


.imagem-login {
  display: flex;
  justify-content: center;
}


.imgsrc {
  width: 70%;
}

.title{  
    color: #2b4450;
    font-weight: 600;
    font-size: 15px;
}