$cinza-escuro: #2b4450;
$azul-cinzento: #497285;
$laranja: #f78536;
$cinza-claro: #dfebed;

.container-dashboard {
  display: flex;
  justify-self: center;
  justify-content: center;
  padding: 15vh 0 10vh 0;
}

.card {
  background: white;
  //box-shadow: 0px 0px 30px 10px $laranja;
  border-radius: 40px;
  width: 90%;
  height: 100%;
  padding-bottom: 10vh;
}


.title-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 5vh;
  color: $azul-cinzento;
  margin: 2vh;
  font-weight: 300;
}


hr {
  width: 90%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);  
  justify-items: center;
  margin-top: 10vh;
}


.card-item {
  background: white;
  box-shadow: 0px 0px 8px 0px #49728585;
  border-radius: 20px;
  width: 15vw;
  height: 20vw;
  margin-top: 5vh;
}

.card-item-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 95%;
}

.card-title {
  display: flex;
  margin: 3vh;
  align-self: flex-start;
  color: $cinza-escuro;
  font-weight: 600;
  font-size: 1.2vw;
}

.card-img {
  display: flex; 
  align-self: center;
  width: 80%;
  height: 50%;
}

.card-price {
  display: flex;
  align-self: flex-end;
  color: $laranja;
  margin-top: auto;
  margin-right: 1vw;
  font-weight: 700;
  font-size: 1.2vw;
}

.img-card {
  width: 100%;
  height: 100%;
}

.container-geral {
  padding-top: 3vh;
  height: 100%
}
