$azul-cinzento: #497285;
$cinza-escuro: #2b4450;
$laranja: #f78536;
$cinza-claro: #dfebed;

.cabecalho {
  position: fixed;
  width: 100%;
  z-index: 5000;
  background-color: $cinza-escuro;
  align-items: center;
  display: flex;
  height: 4vh;
}


.items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

// .user-button {
//   padding: 7px;
//   color: $azul-cinzento;
//   border: 1px solid $azul-cinzento;
//   border-radius: 5px;
//   margin-right: 0.5vw;
//   font-size: 1.2vw;
// } 

.user-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-left: auto;
  margin-right: 3vw;

}

.legend-user {
  font-family: "MontSerrat";
  font-size: 0.8vw;
  color: $cinza-claro;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: $laranja;
  }
}

.dropdown-menu {
  z-index: 9999;
  justify-self: flex-end;
  width: 20vh;
  height: 5vh;
  background-color: white;
  position: fixed;
  top: 4vh;
  box-shadow: 0px 0px 8px 0px #49728585;
  right: 3vh;
  border-radius: 0 0 15px 15px;
}

.dropdown-hover {
  background-color: $laranja;
  cursor:pointer;
}
.item-drop {
  top: 5vh;
  right: 9vh;
  position: fixed;
  font-weight: 500;
  font-size: 1vw;
}

.item-hover {
  color: white;
  cursor:pointer;
}
