$azul-cinzento: #497285;
$cinza-escuro: #2b4450;
$laranja: #f78536;
$cinza-claro: #dfebed;

.cabecalho {
  position: fixed;
  width: 100%;
  z-index: 5000;
  background-color: $cinza-escuro;
  align-items: center;
  display: flex;
  height: 4vh;
}


.items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

// .user-button {
//   padding: 7px;
//   color: $azul-cinzento;
//   border: 1px solid $azul-cinzento;
//   border-radius: 5px;
//   margin-right: 0.5vw;
//   font-size: 1.2vw;
// } 

.user-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-left: auto;
  margin-right: 21px;
}

.legend-user {
  font-family: "MontSerrat"; 
  color: $cinza-claro;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;

  &:hover {
    color: $laranja;
  }
}

.dropdown-menu {
  z-index: 9999;
  justify-self: flex-end;
  width: 100px;
  height: 40px;
  right: -25px;
  background-color: white;
  position: fixed;
  top: 4vh;
  box-shadow: 0px 0px 8px 0px #49728585;
  border-radius: 0 0 15px 15px;
}

.dropdown-hover {
  background-color: $laranja;
  cursor:pointer;
}

.item-drop {
  top: 5vh;
  right: 10px;
  position: fixed;
  font-weight: 500;
  font-size: 15px;
}

.item-hover {
  color: white;
  cursor:pointer;
}
