$cinza-escuro: #2b4450;
$azul-cinzento: #497285;
$laranja: #f78536;
$cinza-claro: #dfebed;

.container-principal {
  display: flex;
  justify-self: center;
  justify-content: center;
  padding: 15vh 0 10vh 0;
}

.card {
  background: white;
  border-radius: 40px;
  width: 90%;
  height: 100%;
  padding-bottom: 10vh;
}


.title-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 5vh;
  color: $azul-cinzento;
  margin: 2vh;
  font-weight: 300;

  @media screen and (max-width:480px) and (max-height:850px) {
    font-size: 3.4vh;
    font-weight: 400;
  }

}


hr {
  width: 90%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  justify-items: center;
}


.card-item {
  background: white;
  box-shadow: 0px 0px 8px 0px #49728585;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  margin-top: 5vh;
}

.card-item-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 95%;
}

.card-title {
  display: flex;
  margin: 20px;
  align-self: flex-start;
  color: $cinza-escuro;
  font-weight: 600;
  font-size: 21px;
}

.card-conteudo {
  display: flex;
  margin: 20px;
  align-self: flex-start;
  color: #2b4450;
  font-weight: 400;
  font-size: 18px;
}

.container-geral {
  height: 100%
}


.btn-comprar {
  background-color: #f78536;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  color: white;
  padding: 12px 28%;
  font-family: "MontSerrat";
  font-weight: 400;
  cursor: pointer;

  &:hover {
    opacity: 80%;
    transition: 0.5s;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.container-compra {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
}

.container-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.card-item-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 95%;
}


.card-title {
  display: flex;
  margin: 20px;
  align-self: flex-start;
  color: #2b4450;
  font-weight: 600;
  font-size: 48px;
}

.imagem {
  margin: 3%;
  width: 500px;
  height: 500px;
}

.imagem-tam {
  width: 500px;
  height: 500px;
}

.card-conteudo {
  color: #2b4450;
  font-weight: 600;
  font-size: 15px;
}

.card-preco {
  color: #f78536;
  font-weight: 700;
  font-size: 28px;
  margin: 25% 0 2%;
}
