<app-header></app-header>
<app-cabecalho-menu></app-cabecalho-menu>


<div class="container-geral">
  <div class="container-principal">
    <div class="card">
      <div class="title-card">Reciclagem de produtos eletrônicos</div>
      <div class="grid-container">
        <div class="card-item">
          <div class="card-item-container">
            <div class="card-title">
              Veja abaixo o ponto de coleta mais próximo
            </div>
            <div class="legenda">
              Leve produtos para um de nossos pontos de coletas abaixo! Você ajuda o meio ambiente e também a organizar
              seu lar reciclando produtos que não utiliza mais.
            </div>

            <div id="map"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
