<div class="container-esquerdo-login">
  <!-- <span class="login-label1">E</span>
  <span class="login-label2">Commerce</span> -->
  <div class="container-principal">
    <div class="container-sub">
      <span class="first-sub">
        Crie sua conta agora
      </span>
      <span class="second-sub">
        Já possui conta? Acesse <a>aqui!</a>
      </span>
    </div>
    <div class="form-login">
      <span>Login</span>
      <input class="input-login" type="text" placeholder="Seu usuário">
      <span>Senha</span>
      <input class="input-login" type="password" placeholder="******">
      <button class="button-login">
        <i class="fas fa-sign-in-alt"></i>  Logar</button>
    </div>
  </div>
</div>

<div class="container-direito-login">
  <div class="imagem-login">
    <img src="../../../assets/imagens/login-image.png">
  </div>
</div>
