<div class="container-esquerdo-login">
  <!-- <span class="login-label1">E</span>
  <span class="login-label2">Commerce</span> -->

  <div class="container-principal">
    <div class="container-logo">
      <div class="container-logo-words">
        <div class="logo1">P</div>
        <div class="logo2">&</div>
        <div class="logo3">V</div>
      </div>
      <div class="logo-sub">Ponto&Vírgula</div>
    </div>
    <div class="container-sub">
      <span class="first-sub">
        Crie sua conta agora
      </span>
      <span class="second-sub">
        Já possui conta? <a href="#" class="link">Acesse aqui!</a>
      </span>
    </div>

    <div class="form-login">
      <span>Nome</span>
      <input [ngClass]="{'input-error': errorStyleName}" class="input-login" type="text" placeholder="Seu nome completo">
      <span>E-mail</span>

      <input [ngClass]="{'input-error': errorStyleLogin}" class="input-login" type="text" placeholder="Seu e-mail">
      <span>Senha</span>

      <input [ngClass]="{'input-error': errorStylePassword}" class="input-login" type="password" placeholder="******">
      <!-- <span  [ngStyle]="{'display:' errorStylePassword ? 'flex' : 'none';  }"> Senha não pode ser menor que 6 caracteres.</span> -->

      <span>Confirmar senha</span>
      <input [ngClass]="{'input-error' : errorStyleConfirmPassword}" class="input-login" type="password" placeholder="******">

      <button class="button-login">
        <i class="fas fa-sign-in-alt"></i> Cadastrar
      </button>

    </div>
  </div>
</div>

<div class="container-direito-login">
  <div class="imagem-login">
    <img src="../../../assets/imagens/login-image.png">
  </div>
  <footer class="copyright">@2021 Todos os direitos reservados. E-Commerce Ponto&Vírgula</footer>
</div>
