$azul-cinzento: #497285;
$laranja: #f78536;
.container-esquerdo-login {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
  background-color: white;
  display: flex;



  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.container-direito-login {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
  background-color: $azul-cinzento;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.form-login {
  display: flex;
  flex-direction: column;
}


.login-label1 {
  color: $azul-cinzento;

}

.login-label2 {
  color: #0bb3e4;
}

.container-sub {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.first-sub {
  font-size: 1.8vw;
  color: #162a43;

  @media screen and (max-width: 480px) {
    font-size: 7.0vw;
  }
}

.second-sub {
  font-size: 1vw;
  color: #919aa9;

  @media screen and (max-width: 480px) {
    font-size: 3.0vw;
  } 
}

.container-principal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 30%;
  
  @media screen and (max-width: 480px) {
    padding: 10vw;
  }
}

.button-login {
  background-color: $azul-cinzento;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;


}

.button-login:hover {
  background-color: $laranja;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}


.input-login {
  font-size: 12px;
  color: gray;
  line-height: 20px;
  margin-bottom: 4%;

  &:focus {
    outline: none !important;
    border: 1px solid $azul-cinzento;
    box-shadow: 0 0 10px #719ECE;
  }
}

.input-login {
  font-size: 12px;
  color: gray;
  line-height: 20px;
  margin-bottom: 4%;

  &:focus {
    outline: none !important;
    border: 1px solid $azul-cinzento;
    box-shadow: 0 0 10px #719ECE;
  }
}


.input-error {
  font-size: 12px;
  color: gray;
  line-height: 20px;
  margin-bottom: 4%;
  outline: none !important;
  border: 1px solid rgba(255, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.425);
}


.copyright {
  color: white;
  font-size: 0.9vw;
  margin-top: 10vh;
}

.container-logo {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.container-logo-words {
  display: flex;
  flex-direction: row;
}


.logo1 {
  font-family: 'Press Start 2P';
  font-size: 3vw;
  font-weight: 100;
  color: $azul-cinzento;

  @media screen and (max-width: 480px) {
    font-size: 10vw;
  }
}

.logo2 {
  font-family: 'MontSerrat';
  font-size: 2.5vw;
  color: $laranja;
  padding-right: 2%;
  @media screen and (max-width: 480px) {
    font-size: 8.5vw;
  }
}

.logo3 {
  font-family: 'Press Start 2P';
  font-size: 3vw;
  font-weight: 100;
  color: $azul-cinzento;
  @media screen and (max-width: 480px) {
    font-size: 10vw;
  }
}

.logo-sub {
  font-family: 'MontSerrat';
  font-size: 1vw;
  color: $laranja;
  font-weight: 700;
  @media screen and (max-width: 480px) {
    font-size: 3.5vw;
  }
}

.link {
  color: $laranja;
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer; 
}


.legend-error {
  color: rgba(255, 0, 0, 0.651);
  margin-bottom: 5%;
}

.complete-name-container {
  margin-bottom: 5%;
}

.confirm-password-container {
  margin-bottom: 5%;
}

.email-container {
  margin-bottom: 5%;
}

.senha-container {
  margin-bottom: 5%;
}


.container-cadastrado-sucesso-geral {
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin-top: 15%;
}


.container-cadastrado-sucesso {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 35vw;
}

.sucesso {
  color: #58da58;
  font-size: 3vw;
}

.cadastrado-sucesso {
  font-family: "MontSerrat";
  font-size: 1.5vw;
  margin-left: 5%;
}


.legend-sucesso {
  font-family: "MontSerrat";
  font-size: 1vw;
  color: lightgray;
  margin-left: 5%;
}


.imagem-login{
  display:flex;
  justify-content: center; 
}


.imgsrc{
  width:70%;
}